$wg-shadow: 0 2px 6px rgba(25, 25, 50, 0.1);

///Шрифты
$font_roboto: 'Roboto', sans-serif;

///Цвета
$c-white: #fff;

$c-base-900: hsl(220,6%,10%);
$c-base-800: hsl(220,6%,20%);//text
$c-base-700: hsl(220,6%,30%);
$c-base-600: hsl(220,6%,40%);
$c-base-500: hsl(220,6%,50%);
$c-base-400: hsl(220,6%,60%);
$c-base-300: hsl(220,6%,70%);
$c-base-200: hsl(220,6%,80%);
$c-base-100: hsl(220,6%,90%);
$c-base-50: hsl(220,6%,93%);
$c-base-10: hsl(180, 5%, 96%);

$c-primary-900: hsl(220,100,20);
$c-primary-800: hsl(220,100,30);
$c-primary-700: hsl(220,100,40);
$c-primary-600: hsl(220,100,50);//link, buttons
$c-primary-500: hsl(220,100,60);
$c-primary-400: hsl(220,100,70);
$c-primary-300: hsl(220,100,80);
$c-primary-200: hsl(220,100,90);
$c-primary-100: hsl(220,100,96);
$c-primary-10: hsl(220,100,98);

$c-red-800: hsl(360,100,30);
$c-red-700: hsl(360,100,40);
$c-red-600: hsl(360,100,50);
$c-red-100: hsl(360,100,96);

$c-green-800: hsl(130,50,30);
$c-green-700: hsl(130,50,40);
$c-green-600: hsl(130,50,50);
$c-green-100: hsl(130,50,96);

$c-green2-800: hsl(70,50,30);
$c-green2-700: hsl(70,50,40);
$c-green2-600: hsl(70,50,50);
$c-green2-100: hsl(70,50,96);

$c-yellow-800: hsl(45,100,30);
$c-yellow-700: hsl(45,100,40);
$c-yellow-600: hsl(45,100,50);
$c-yellow-100: hsl(45,100,96);


$c-xls: hsl(147,57,28);
$c-xls-hover: hsl(147,57,23);
$c-xls-active: hsl(147,57,18);







