.message {
  padding: 16px 32px;
  border-radius: $corner-radius;
  position: relative;
  font-style: italic;

  &.message_alert {
    color: $c-red-600;
    background: $c-red-100;
  }

  &.message_inline {
    display: inline-block;
  }

  &.message_large {
    font-size: 16px;
  }

  .message__ico {
    display: inline-block;
    width: 24px;
    height: 24px;

    img {
      width: 100%;
    }
  }

  .message__ico-big {
    width: 40px;
    height: 40px;
  }
}
