.okved-status {
  display: inline-block;
  padding: 8px 12px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  background: $c-primary-100;

  &.okved-status_red {
    background: $c-red-100;
    color: $c-red-700;
  }

  &.okved-status_green {
    background: $c-green-100;
    color: $c-green-700;
  }
}
