.user-block {
  .user-block__title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user-block__name {
    color: $c-white;
  }

  .user-block__notice {
    color: $c-white;
    font-size: 12px;
  }
}


